<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Asset\Repository">
        <plugin name="fishpig-lesspro" type="FishPig\LessPro\Plugin\Magento\Framework\View\Asset\RepositoryPlugin"/>
    </type>
</config>
